{% extends 'vistaUsuario.html' %}
{% block opcionesUsuario%}
	<li><a href="/vistaUsuario">Menú principal</a></li>
	<li><a href="/verPerfil">Mi perfil</a></li>
	<li><a href="/videosSubidos">Ver subidos por mí</a></li>
	<li class="active"><a href="/subir">Subir video</a></li>
	<li><a href="/importar">Importar usuarios</a></li>
{% endblock %}

{% block contentUsuario %}
    <div class="box">
        <h1 class ="titulos">Subir video</h1>
        <div class="contenedor-form">
			<form method="post" enctype="multipart/form-data">
		    	{% csrf_token %}
		    	{{ form.as_p }}
		    	<div class="text-center" style="margin-top: 5%">
		            <button type="submit" class="btn btn-primary">
		            	<i class="fa fa-user-md"></i> Subir</button>
		        </div>
			</form>
		</div>
	</div>
{% endblock %}